@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

.indexBody {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(images/header-background.jpg);
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
}

.indexHeader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.indexH1 {
  margin: 0;
  font-size: 10rem;
  white-space: nowrap;
  color: white;
}

.indexP {
  margin: 0;
  font-size: 3.5rem;
}

body, html{
    font-family: 'Open Sans', sans-serif;
    width:100%; 
    height: 100%;
    text-align:center;
    margin: auto;  
  }
  
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-image: url("images/header-background.jpg");
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #0b3357;
    color: white;
  }

  .active {
    background-color: #0b3357;
    color: white;
  }

  .bg {
    /* The image used */
    background-image: url("images/header-background.jpg");
  
    /* Full height */
  
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  p{
    font-size:12px;
    text-decoration: none;
  }
  
  h1{
    font-size:1.5em;
    color:#525252;
  }
  
  .signinform
  {
    position: center;
    margin: auto;
    margin-top: 120px;
    bottom: 120px;
    width: 300px;
  }
  
  .signupform
  {
    position: center;
    margin: auto;
    margin-top: 65px;
    box-align: center;
    justify-content: center;
    bottom: 90px;
    width: 300px;
  }

  .box{
    background:white;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
    border: #2980b9 4px solid; 
    box-align: center;
    height: 100%;
  }
  
  .descriptionBox{
    background:white;
    height: 100%;
    border-radius:6px;
    margin: 0 auto 0 auto;
    border: #2980b9 4px solid; 
  }
  
  .titleInput{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:100%;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }
  
  .descriptionInput{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:100%;
    box-sizing: border-box;
    height: 100%;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }
  
  .centeredText {
    position: absolute;
    text-align: center;
    background-position: center;
    color: white;
    margin-top: -35%;
    left: 50%;
    box-align: center;
    transform: translate(-50%, -50%);
  }

  .username{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }

  .phonenumber{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }
  .email{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }
  
  .firstname{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }
  
  .lastname{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }

  .editor{
    background:white;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 300;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    height:250px;
    color:black;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }

  .edit_form{
    display: none;
  }

  .othernames{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }
  
  .password{
    border-radius:4px;
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:250px;
    font-size:1em;
  }
  
  .btn{
    background:#2ecc71;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #27ae60 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    float:left;
    margin-left:16px;
    font-weight:800;
    font-size:0.8em;
  }
  
  .btn:hover{
    background:#2CC06B; 
  }
  
  .btn2{
    float:left;
    background:#3498db;
    width:125px;  padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #2980b9 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
    font-weight:800;
    font-size:0.8em;
  }
  
  /* hover color */
  .btn2:hover{ 
  background:#3594D2; 
  }
  
  #signIN{
    float:left;
    background:#3498db;
    width:135px;  padding-top:5px;
    padding-bottom:8px;
    color:white;
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    border-radius:4px;
    border: #2980b9 1px solid;
    margin: auto;
    box-align: center;
    justify-content: center;
    margin-top:50px;
    margin-bottom:20px;
    font-weight:500;
    font-size:1.0em;
  }
  
  #signIN:hover{ 
  background:#0b3357; 
  }

  /* Style the header */
  .header {
    background-color: whitesmoke;
    padding: 30px;
    background-image: url("images/header-background.jpg");
    text-align: center;
    vertical-align: middle;
    font-size: 35px;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: whitesmoke;
    padding: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 35px;
  }
  
  /* Container for flexboxes */
  .row {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
  }
  
  .column {
    flex: 1 1 auto;
    height: 475px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border-radius: 25px;
    vertical-align: middle;
    justify-content: center;
  }
  
  /* Style the footer */
  .footer {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    /* more style: */
    height: 30px;
    justify-content: center;
    position: fixed;
    bottom: 0;
    background-image: url("images/header-background.jpg");
    width: 100%;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 85%;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }

/* Admin_Panel / User_Profile */
body{
  height: 100%;
  width: 100%;
  margin: 0;
}
.main{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: 60px auto;
  background-color: whitesmoke;
}
.top{
  grid-column: 1/-1;
  grid-row: 1;
  height: 60px;
  background-color:#0b3357;
  z-index: 99;
}

.nav{
  grid-column: 1 /2;
  height: calc(100vh- 60px);
  background-image: url("images/header-background.jpg");
  grid-row-start: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}

.content{
  height:  calc(100vh - 60px);;
  grid-column: 2 /-1;
  background-color: white;
  overflow-y: hidden;
}

.content{
  display: grid;
  grid-template-columns:1fr 2fr;
  grid-row-start: 2;
}

.adminContent{
  height:  calc(100vh - 60px);;
  grid-column: 1 /-1;
  background-color: white;
  overflow-y: hidden;
}

.adminContent{
  display: grid;
  grid-template-columns:1fr 2fr;
  grid-row-start: 2;
}

.posts{
height: calc(100vh- 60px);;
overflow-y: scroll;
background-color:whitesmoke;
box-sizing: border-box;
position: relative;
}

.tabs{
top: 60px;
height: 60px;
padding-left: 20px;
padding-right: 20px;
box-sizing: border-box;
background-color: white;
}

.post-card{
  height: 120px;
  border-radius: 5px;
  background-color: white;
  margin: 10px;
  box-sizing: border-box;
  padding: 10px;
} 

.author{
  display: flex
}

.post-card img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.user{
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   color: rgb(109, 109, 109);
   line-height: 2rem;
   margin: 5px;
}

.description{
  margin-left: 45px;
  margin-bottom: 5px;
  margin-top: 28px;
  font-family: 'Roboto', sans-serif;
  color: rgb(136, 133, 133);
  font-weight: 100;
  width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title{
  margin-top: 0;
  margin-bottom: 0;
  float: left;
  margin-left: 45px;
  color:#0d4d94;
}

.status{
  float: right;
 font-family: 'Roboto', sans-serif;
 font-weight: 10;
 border-radius: 5px;
 padding: 2px;
 width: 100px;
 text-align: center;
 color: white;
 height: 20px;
}

.draft{
  background-color: #0d4d94;
}
.resolved{
  background-color: #2e7d32;
}
.rejected{
  background-color: #9b0000;
}
.investigating{
  background-color: yellowgreen;
}

.posts button{
  height: 40px;
  border-radius: 5px;
  font-size: 13px;
  width: 100px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left:40px;
  border: transparent;
  background-color: #0d4d94;
  color: white;
  font-weight: bold;
}


/*review section*/
.review{
  grid-column: auto;
  background-color:#f1f1f1 ;
  padding: 30px;
  box-sizing: border-box;
  height: calc(100vh- 60px);
}

.complaint{
  width: 100%;
  background-color: white;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.07);

}

#complaint-title{
  height: 45px;
  border-bottom: #2e7d32 2px solid;
  font-family: 'Roboto', sans-serif;
  color:black;
  padding-left: 10px;
  font-size: 2em;
  line-height: 2em;
}

#complaint-details{
  font-family: 'Roboto', sans-serif;
  color: black;
  font-weight: 300;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}

.profile{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color:snow;
  line-height: 2rem;
}

.profile img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.review button{
  border-radius: 5px;
  width: 100px;
  height: 40px;
  margin-top: 20px;
  margin-right: 40px;
  border: transparent;
  color: snow;
  font-size: 1em;
}

.create{
    background: #0b3357;
    width:125px;
    padding: 10px;
    color:white;
    border-radius:4px;
    border: white 1px solid;
    font-weight:800;
    font-size:0.8em;
  }
  
  .create:hover{
    background:#144b72; 
  }

.edit{
  background-color: #2e7d32;
}

.reject{
  background-color: #9b0000;
}

#review{
  background-color: #0d4d94;
}

#createNew{
    background-color: #0d4d94;
    border-color: white;
  }

button:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.274);
}

button:focus{
  outline: none;
}


.dropbtn {
    background-color: white;
    color: #0b3357;
    padding: 16px;
    font-size: 16px;
    border-color: #0b3357;
    width: 300px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    margin-top: 20%;
    justify-content: center;
    box-align: center;
}

.filloutInput{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:100%;
    margin: auto;
    color:#AAAAAA;
    float: center;
    margin-top:30px;
    font-size:1em;
    border-radius:4px;
  }

  .filloutTextArea{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:100%;
    margin: auto;
    color:#AAAAAA;
    height: 200px;
    float: center;
    margin-top:30px;
    font-size:1em;
    border-radius:4px;
  }

.dropdown {
    position: relative;
    display: inline-block;
    margin: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #0b3357; color: white}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #144b72; color: white;}

.imageContainer {
    width:140px;
    height: 120px;
    position: relative;
    text-align: center;
    box-align: center;
    color: white;
    align-content: center;
    margin: auto;
  }
  
  .imageContainer:hover{
    background: #144b72; 
  }
